/*from Elise, not used
.flex-content {
display: flex;
padding: 0 1.5rem;
}
*/

/*temp font styles*/
h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  padding: 32px 0px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

p {
  padding-top: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* General Section Styles */
.MainContent {
  display: flex;
  flex-direction: column;
}

.TwoColumnSection {
  display: flex;
}

.LeftColumn {
  padding: 32px 24px;
  width: 60%;
  /*From Elise, alt measurements
  padding: 2rem 1.5rem 2rem 0;*/

}

.RightColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 16px 0px;
  /*Spec sheet says 423px, but Elise sugg'd 40% instead*/
  /*alt padding from Elise
  padding: 2rem 0;*/
}

img, video {
  max-width: 100%;
  /* from Elise, no change noticed
  display: block;*/
}

.HorizontalListing {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}

.ListingImage {
  width: 35%;
  padding: 16px;
}

.Gray {
  background-color: gray;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  height: 64px;
}

.HeaderLogo {
  display: flex;
  align-items: center;
}

.HeaderLogo img {
  padding-right: 5px;
}

.HeaderNav a {
  margin-left: 16px;
}

/* Specific Section Styles */
  /*First Section/Learn Something*/

.TwoColumnSection.FirstSection .RightColumn {
  padding-left: 16px;
  justify-content: center;
}

.button {
  color: white;
  background-color: red;
  text-align: center;
  padding: 8px;
  margin-top: 16px;
  width: 60%;
  /*Just picked a button width since changing RightColumn to 40% made it too wide*/
}

  /*Second Section/Keep Practicing*/
.TwoColumnSection.SecondSection .LeftColumn{
  border-right: 1px dotted gray;
}

img.TwoColumnSection.SecondSection {
  padding-bottom: 32px;
}

.TwoColumnSection.SecondSection h2 {
  padding-bottom: 24px;
  text-align: left;
}

/*temp EpiSource*/
.EpiSource {
  font-style: italic;
}

  /*Third Section/Start Learning*/
/*.CenteredSection h2 {
  text-align: center;
}*/

.Courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.VerticalListing {
  margin-right: 32px;
  margin-bottom: 32px;
  width: 25%;
  background-color: white;
}

.VerticalListing .ListingText {
  padding: 16px 0px 24px 16px;
}

  /*Fourth Section/Thesis*/
.Theses {
  padding-bottom: 32px;
}

.Theses .LeftColumn {
  padding: 0px 24px;
  width: 60%;
}

.Theses .LeftColumn h3 {
  padding-top: 24px;
}

.Theses .RightColumn {
  padding: 0px;
}
