/* General Font Styles */
html {
  font-size: 16px;
}

h1 {
  font-family: 'Josefin Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.75rem;
  line-height: 3rem;
  color: hsl(190, 55%, 40%);
  padding-bottom: 2rem;
}

h2 {
  font-family: 'Josefin Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.25rem;
  color: hsl(190, 55%, 40%);
  padding: 2rem 0rem;
  text-align: center;
}

h3 {
  font-family: 'Josefin Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.75rem;
  color: hsl(190, 55%, 40%);
}

h4 {
  font-size: 1.25rem;
  color: hsl(0, 0%, 33%);
  padding-top: 0.75rem;
}

p {
  font-family: 'Neuton', Georgia, serif;
  text-transform: none;
  letter-spacing: normal;
  color: hsl(0, 0%, 33%);
  padding-top: .5rem;
  padding-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

a {
  font-family: 'Josefin Sans', Arial, sans-serif;
  color: hsl(190, 55%, 40%);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .125rem;
}

strong {
  font-weight: bold;
}

/* General Section Positioning Styles */
.TwoColumnSection {
  display: flex;
}

.LeftColumn {
  padding: 2rem 1.5rem;
  width: 60%;
}

.RightColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem 0rem;
  /* Spec sheet says 423px, but Elise sugg'd 40% instead */
}

img, video {
  max-width: 100%;
}

.HorizontalListing {
  display: flex;
  align-items: center;
  min-height: 180px;
}

.ListingImage {
  width: 35%;
  padding: 1rem;
}

.LightBlue {
  background-color: hsl(210, 50%, 85%);
}

.Mobile {
  display: none;
}

.Desktop a {
  margin-left: 1rem;
}

/* Desktop Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  height: 4rem;
}

.HeaderLogo {
  font-family: 'Josefin Sans', Arial, sans-serif;
  letter-spacing: .25rem;
  display: flex;
  align-items: center;
}

.HeaderLogo img {
  padding-right: .25rem;
}

/* Specific Section Styles */
/* First Section: Learn Something */

.FirstSection .RightColumn {
  padding: 1rem;
  justify-content: center;
}

.button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(190, 55%, 40%);
  text-align: center;
  padding: .5rem;
  margin-top: 1rem;
  width: 60%;
  /* Not spec'd; just picked a button width */
}

/* Second Section: Keep Practicing */
.SecondSection .LeftColumn{
  border-right: 1px solid hsl(0, 0%, 85%);
}

.SecondSection h2 {
  padding-bottom: 1.5rem;
  text-align: left;
}

.QuoteSource {
  font-style: italic;
  padding: 0rem;
}

.HorizontalListing .ListingText {
  width: 55%;
  /* Added to force text to wrap and keep to the right of the image */
}

/*Third Section/Start Learning*/
.Courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.VerticalListing {
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 25%;
  background-color: hsl(0, 0%, 100%);
}

.VerticalListing .ListingText {
  padding: 1rem 0rem 1.5rem 1rem;
}

/* Fourth Section: Theses */
.Theses {
  padding-bottom: 2rem;
}

.Theses .LeftColumn {
  padding: 0rem 1rem 0rem 1.5rem;
}

.Theses .LeftColumn h3 {
  padding-top: 1.5rem;
}

.Theses .RightColumn {
  padding: 0rem;
}

/* Footer */
footer {
  border-top: 1px solid hsl(0, 0%, 85%);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .125rem;
  color: hsl(0, 0%, 33%);
}

footer a {
  margin-left: .25rem;
}

/* Tablet CSS */
@media only screen and (max-width: 760px) {
  .HeaderLogo, header .Desktop, .Desktop img {
    display: none;
  }

  .Tablet {
    display: block;
  }

  header .Mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .TwoColumnSection, .Courses {
    flex-direction: column;
    align-items: center;
  }

  .LeftColumn, .RightColumn {
    width: 80%;
  }

  .SecondSection .LeftColumn {
    border-right: none;
  }

  .VerticalListing {
    width: 55%;
  }

}

/* Mobile CSS */
@media only screen and (max-width: 470px) {
  .HeaderLogo, .SecondSection .LeftColumn, .Desktop, .VerticalListing img, h4, .VerticalListing p, .Theses .RightColumn, .Theses h3, .Theses p, footer a {
    display: none;
  }

  .Mobile {
    display: block;
  }

  header .Mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .TwoColumnSection {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    /* Not totally sure why wrap-reverse helps center things here */
  }

  .LeftColumn {
    width: 100%;
    padding: 0px;
  }

  .FirstSection .RightColumn {
    width: 92.5%;
    align-items: center;
    padding: 2rem 0rem 0rem 0rem;
    /* to center the Start Here button */
  }

  .FirstSection .RightColumn h1 {
    padding-bottom: 2rem
  }

  .button {
    margin-bottom: 1rem;
  }

  .HorizontalListing {
    background-color: hsl(0, 0%, 100%);
    flex-wrap: wrap;
  }

  .ListingImage {
    width: 100%;
    padding: 0rem 1rem;
  }

  .HorizontalListing .ListingText {
    width: 100%;
    padding: 1rem 2rem;
  }

  .CenteredSection {
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 0rem;
    border-top: 1px solid hsl(0, 0%, 85%);
    border-bottom: 1px solid hsl(0, 0%, 85%);
  }

  .CenteredSection h2 {
    padding: 0rem 0rem 1rem 0rem;
  }

  .VerticalListing {
    background-color: hsl(210, 50%, 85%);
    margin: 0rem 0rem .5rem 0rem;
    width: 85%;
  }

 .VerticalListing .ListingText {
    padding: 1rem;
  }

  .Theses .LeftColumn {
    padding: 0rem;
  }

  Footer {
    padding: 1rem;
    border: none;
  }

}
